html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(0 0 0 0);overflow: hidden;}

:root {
  --main-font: 'IBM Plex Sans', 'sans-serif';
  --heading-font: 'IBM Plex Mono', 'monospace';

  --main-color:  rgb(51, 51, 45);
}

/*GENERAL SETTINGS*/

html {
  color: var(--main-color);
  font-size: 62.5%;
  font-display: block;
}

h1, h2, h3, h4, h5, h6, a, p, ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: var(--heading-font);
}

p {
  font-family: var(--main-font);
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 15px;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  color: var(--main-color);
  font-size: 1.5rem;
  padding: 10px 5px;
  text-decoration: none;
}

svg {
  width: 100%;
}

label {
  position: absolute;
  top:-12px;
  left: 10px;
  font-size: 1.4rem;
  font-family: var(--main-font);
  color: var(--main-color);
  background: rgb(225, 225, 225);
}

input, 
textarea {
  padding: 15px;
  border: none;
  outline: 0;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

input {
  text-transform: uppercase;
}

a:focus {
  border: 1px solid var(--main-color);
}

button {
  cursor: pointer;
}

.margin {
  margin: 0;
}


/*ELEMENT SPECIFIC SETTINGS*/

body, header, nav, main, .about, .portfolio, .skills, .contact {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
}

.about, .portfolio, .skills, .contact {
  grid-column: 1/7;
}

body {
  grid-auto-rows: auto;
  grid-row-gap: 25px;
  position: relative;
}

header {
  grid-column: 1/7;
  position: relative;
  height: 100vh;
}

nav {
  background: rgba(255, 255, 255, .8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 10;
}

.logo-button { 
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  background: none;
  border: none;
  padding: .5rem .5rem;
}

nav ul {
  grid-column: 2/7;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  align-self: center;
  justify-self: center;
  position: absolute;
  left: 600px;
  opacity: 0;
  transition:  all 0.5s;
}

nav ul li {
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  display: inline-block;
  text-align: center;
}

ul li a {
  display: block;
}

nav ul li:hover, 
nav ul li:focus {
  border-bottom: 3px dotted var(--main-color);
}

.show {
  opacity: 1;
  left: 0;
  transition: all 0.5s;
}

header h1, 
header h2, 
.social-wrapper, 
.about-wrapper, 
.portfolio-wrapper, 
.skills-wrapper, 
.contact-wrapper,
.project  {
  grid-column: 2/6;
}

header h1 {
  align-self: end;
  justify-self: center;
}

header h2 {
  align-self: start;
  position: relative;
  justify-self: center;
}

header p {
  margin-top: 25px;
}

.social-wrapper {
  align-self: center;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social li {
  margin: 10px;
  border: 3px solid var(--main-color);
  box-shadow: 0px 5px var(--main-color);
}

.social li:first-child {
  box-shadow: -3px 5px var(--main-color);
}

.social li:last-child {
  border: 3px solid var(--main-color);
  box-shadow: 3px 5px var(--main-color);
}

.social-icons {
  height: 100%;
  padding: 16px 15px;
}

header i {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 600;
}

main, 
.portfolio, 
.contact, 
.about, 
.skills {
  grid-column: 1/7;
}

main {
  grid-row-gap: 25px;
}

.portfolio, 
.contact {
  background:  rgb(225, 225, 225);
}

.img-container {
  margin-bottom: 50px;
  border: 20px solid rgb(225, 225, 225)
}

.about h2, 
.portfolio h2, 
.skills h2, 
.contact h2 {
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
}

/*This is the circle at the end of the underline of the h2 elements*/
.about h2::before, 
.portfolio h2::before, 
.skills h2::before, 
.contact h2::before{
  position: absolute;
  content: "";
  width: 20px; 
  height: 20px;
  right: -50px;
  top:17px; 
  background: var(--main-color); 
  border-radius: 50%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  z-index: 5;
}

/*This is the underline for the h2 elements*/
.about h2::after, 
.portfolio h2::after, 
.skills h2::after, 
.contact h2::after {
  position: absolute;
  content: "";
  top: 25px;
  bottom: -5px;
  left: -100%;
  right: -50px;
  background: var(--main-color);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.about, 
.portfolio, 
.skills, 
.contact {
  padding: 25px 0;
}

/*This controls the variable that is changed with javascript to give a hover effect on the h2 element underline*/
.about:hover h2::before,
.about:hover h2::after,
.portfolio:hover h2::before,
.portfolio:hover h2::after,
.skills:hover h2::before,
.skills:hover h2::after,
.contact:hover h2::before,
.contact:hover h2::after,
.about:focus h2::before,
.about:focus h2::after,
.portfolio:focus h2::before,
.portfolio:focus h2::after,
.skills:focus h2::before,
.skills:focus h2::after,
.contact:focus h2::before,
.contact:focus h2::after {
  background: var(--random);
}

/*This is the arrow that shows up at the bottom to scroll to the top*/
.toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 0;
}

.toTop i {
  font-size: 3rem;
  padding: 10px;
}

/* Hover effect on the arrow at the bottom */
.top-hover:hover,
.top-hover:focus {
  color: var(--random);
}

.show-scroll {
  display: inline-block;
}

.language-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 15px;
}

.form-wrapper {
  grid-column: 2/6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 300px;
  grid-gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--main-color);
  padding: 10px;
  position: relative;
}

.submit-button {
  box-shadow: 0px 5px var(--main-color);
  padding: .6rem 1rem;
  border: 3px solid var(--main-color)
}

.project:last-of-type {
  padding-top: 25px;
}

.project-img {
  margin: 10px 0 15px 0;
  filter: saturate(0);
}

.project-img:hover {
  filter: saturate(1);
}

.project-description ul {
  padding-left: 30px;
  margin-bottom: 15px;
}

.project-description li {
  list-style: disc;
  font-family: var(--main-font);
  font-size: 1.4rem;
  line-height: 1.4;
}

/* Media Queries */
@media (min-width: 450px) {
  .img-container {
    margin: 0 auto 50px auto;
    width: 80%;
  }
}

@media (min-width: 650px) {
  
  .social-wrapper {
  grid-column: 3/5;
} 

  .img-container {
    width: 60%;
  }

  .language-wrapper {
    width: 80%;
    margin: 15px auto 0 auto;
  }
  .about h2::after, 
  .portfolio h2::after, 
  .skills h2::after, 
  .contact h2::after {
    left: -200%;
  }
}

@media (min-width: 820px) {

  nav ul {
    left: 0;
    opacity: 1;
  }

  .social {
    width: 60%;
    margin: 0 auto;
  }

  .about-wrapper, .portfolio-wrapper, .project, .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .skills-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }


  .about-wrapper h2, .portfolio-wrapper h2, .skills-wrapper h2, .contact-wrapper h2 {
    grid-column: 1/2;
    grid-row: 1;
  }

  .about-word-wrapper {
    grid-column: 1/2;
    grid-row: 2;
  }

  .form-wrapper {
    grid-column: 1/3;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 75px) auto;
  }
  
  .form.name, .project {
    grid-column: 1/3;
  }

  .form.email {
    grid-column: 1/3;
    grid-row: 2;
  }

  .form.msg {
    grid-column: 3/6;
    grid-row: 1/6;
  }

  .submit-button {
    grid-column: 3/6;
  }

  .project:last-child {
    border-top: 1px solid var(--main-color);
  }

  .project-img.left {
    grid-column: 2/3;
    margin: 0 auto;
    grid-row: 1;
  }

  .project-img.right {
    grid-column: 1/2;
    grid-row: 1;
  }

  .project-description {
    display: grid;
  }

  .img-container {
    grid-row: 2;
    grid-column: 2/3;
    width: 100%;
  }

  .language-wrapper {
    grid-row: 2;
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .language-wrapper svg {
    width: 16%;
  }

  .about h2::before, 
  .portfolio h2::before, 
  .skills h2::before, 
  .contact h2::before,
  .about h2::after, 
  .portfolio h2::after, 
  .skills h2::after, 
  .contact h2::after {
    right: 50%;
  }

  .about h2::after, 
  .portfolio h2::after, 
  .skills h2::after, 
  .contact h2::after {
    left: -200%;
  }

}

@media (min-width: 1000px) {

  .img-container, .project-img {
    width: 80%;
  }

  .about h2::before, 
  .portfolio h2::before, 
  .skills h2::before, 
  .contact h2::before,
  .about h2::after, 
  .portfolio h2::after, 
  .skills h2::after, 
  .contact h2::after {
    right: 60%;
  }

}

@media (min-width: 1250px) {

  .about h2::before, 
  .portfolio h2::before, 
  .skills h2::before, 
  .contact h2::before,
  .about h2::after, 
  .portfolio h2::after, 
  .skills h2::after, 
  .contact h2::after {
    right: 70%;
  }

}




